@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Ejemplo de Rutas</h1>
    <p>Pulsa en el enlace inferior para ver la lista de alumnos</p>
    @Html.ActionLink("Alumnos","ListaAlumnos")
</div>
